// colors
// Цвета после или в процессе вертски поставить в последовательности частоты использования на страницею ВВерху самые используемые
$bodyBckgrColor: #f3f1e9;
$white: #ffffff;
// headers, text, footerlogo,
$h2DarkGrey: #56534c;
// footer nav
$graphiteGrey: #35332f;
// menu btn border,
$grey: #9e9c93;
$lightGrey: #c2beba;
$prepIconsUnitsGrey: #979285;
$quotesGrey: #b6b5b2;
$h3Brown: #a47e5f;
$iconsHazel: #c9b176;
// prep icons numbers, full recipe btn
$iconsHazelLight: #dfc691;
$navElemsSepia: #d8bba3;
$h3SepiaDark: #c8a593;
$iconShadowBrown: #69503a;
// covers shades
$eggShell: #979285;
$bone: #d5d3cb;
// about chef name borders
$boneAboutBorders: #d7d5ca;

// blocks sizes
$desktopPageContainerWidth: 1600px;
