$bodywidth: 1920px;
$wrapperwidth: 1240px;
$blockwidth: 1160px;
$center: 0 auto;
$font: 'Ubuntu', sans-serif;
$font-nav: 'Ubuntu Condensed', sans-serif;
$nav-border: 1px solid #181a1d;
// colors
$nav-bcgr: #2a2d32;
$grey: #35383c;
$yellow: #f4b60d;
$blue: #248cec;
$dark: #2a2b2e;
