.about {
  background: url(../../src/img/about_bckgr.png) center center no-repeat;
}
// создать миксин для одинаковых стилей (миксин с передай параметров или миксин с дефолтным значением,которое потом можно изменять!) или использовать @extend, чтобы стили для заголовков не повторялись снова и снова
.about__title {
  font-family: "Alegreya Bold";
  color: $h2DarkGrey;
  text-align: center;

  &--style {
    font-family: "Alegreya Bold";
    color: $h3Brown;
    text-transform: uppercase;
    text-align: center;
  }
}

.about__text {
  font-family: "Lato Regular";
  color: $h2DarkGrey;
  text-align: center;
}

.about__chef {
  width: 100%;
  margin: 0 auto;
  padding-left: 2px;
  text-align: center;
}

.about__chef__title {
  font-family: "Alegreya Bold";
  color: $h2DarkGrey;
  text-align: center;
  text-transform: capitalize;
}

.about__chef__name {
  font-family: "Alegreya Regular";
  color: $h2DarkGrey;
  border-top: 1px solid $boneAboutBorders;
  border-bottom: 1px solid $boneAboutBorders;
  text-align: center;
}

.about__chef__img {

}

.about__chef__quote {

}

.about__chef__quote__text {
  font-family: "Scriptina Regular";
  color: $h3Brown;
  text-align: center;
}

.about__chef__quote__mark--opening {
  display: block;
  font-family: "Times New Roman";
  color: $quotesGrey;
  text-align: left;
}

.about__chef__quote__mark--closening {
  display: block;
  font-family: "Times New Roman";
  color: $quotesGrey;
  text-align: right;
}

.about__media__item--top-left {
  display: inline-block;
  margin: 10px 1.59% 7px;
  width: 46.5%;
  height: 250px;
  background: url(../../src/img/about_food_top_left.jpg) -2px -15px no-repeat;
}

.about__media__item--top-right {
  @extend .about__media__item--top-left;
  background: url(../../src/img/about_food_top_right.jpg) -56px -6px no-repeat;
}

.about__media__item--bottom-left {
  @extend .about__media__item--top-left;
  background: url(../../src/img/about_food_bottom_left.jpg) -8px -94px no-repeat;
}

.about__media__item--bottom-right {
  @extend .about__media__item--top-left;
  background: url(../../src/img/about_food_bottom_right.jpg) -26px -25px no-repeat;
}
