
header {
  width: 100%;
  background: url(../../src/img/header_bckgr.jpg) 0 0 no-repeat;
}

.head {
  width: 100%;
  background-color: rgba(86, 83, 76, 0.5);
}

.logo {
  font-family: "Scriptina Regular";
  color: $white;
  letter-spacing: 9px;
}

.head-nav {
  font-family: "Alegreya Regular";
  text-transform: uppercase;
  color: $white;
}

.share {
  margin-top: 18px;
}

.share__list {
  width: 100%;
}

.slogan__title {
  font-family: "Playfair Display Bold";
  color: $white;
  text-align: center;

  &::after {
    display: block;
    content: " ";
    // размеры для мобильного блока и масштаб картинки будут другие
    // width: 197px;
    // height: 12px;
    margin: 0 auto;
    background: url(../../src/img/dashed_line.png) 0 0 no-repeat;
  }
}

.slogan__text {
  margin: 0 auto;
  font-family: "Lato Light";
  color: $white;
  line-height: 1.5;
  text-align: center;
  text-shadow: 0px 1px 0px rgba(61, 48, 41, 0.7);
}

.menu__button {
  margin: 0 auto;
  // padding: 19px 45px;
  font-family: "Alegreya Regular";
  color: $white;
  text-transform: uppercase;
  text-align: center;
  // вывести этот цвет в переменные
  background-color: rgba(86, 83, 76, 0.529);
  border: 1px dashed $grey;

  &::after {
    display: block;
    content: " ";
    width: 80px;
    height: 80px;
    position: absolute;
    margin: 182px 0 0 48px;
    border-radius: 40px;
    background-color: $white;
  }
}

.header__border-elem {
  position: absolute;
  width: 110px;
  height: 110px;
  background: url(../../src/img/header_border.png) 0 0 no-repeat;
  margin: -49px 0 0 574px;
}
