.menu-complete {
  background: url(../../src/img/menu_complete_bckgr.jpg) center center no-repeat;
}

.menu-complete__category {
  display: block;
}

.menu-complete__category__title {
  // этот стиль тоже должен создаваться из миксина-функции с дефолтными значениями для самых распостраненных заголовков
  font-family: 'Alegreya Bold';
  color: $white;
  text-align: center;

  &--font {
    font-family: "Alegreya Bold";
    color: $h3SepiaDark;
    text-transform: uppercase;
    text-align: center;
  }
}

.menu-complete__category__item {
  display: block;
  text-align: center;
}

.category__item__title {
  font-family: 'Alegreya Bold';
  color: $white;
}

.category__item__text {
  font-family: 'Lato Regular';
  color: $lightGrey;
}

.category__item__price {
  font-family: 'Alegreya Regular';
  color: $iconsHazelLight;
}

.menu-complete__category-cover {
  display: block;
}

.menu-complete__category-cover__item {
  position: relative;
  display: block;
}

.category-cover__item-container {
  position: relative;
  background-color: $bodyBckgrColor;

  &::before {
	content:"";
	position: absolute;
	border-style: solid;
	border-top-color: $white;
  border-right-color: $white;
  border-bottom-color: $white;
  border-left-color: transparent;
  }
}

.category-cover__item__header {
  display: block;
  text-align: center;
}

.category-cover__item__header__text {
  display: inline-block;
  font-family: 'Alegreya Bold';
  text-transform: uppercase;
  color: $h2DarkGrey;
}

.category-cover__item__header__img {
  background: url(../../src/img/menu-cover_head_img.png) center center no-repeat;
}

.category-cover__item__title {
  font-family: 'Alegreya Bold';
  color: $h2DarkGrey;
  text-align: center;
}

.category-cover__item__text {
  font-family: 'Lato Regular';
  color: $h2DarkGrey;
  text-align: center;
}

.category-cover__item__link {
  display: block;
  font-family: 'Alegreya Bold';
  color: $h3Brown;
  text-align: center;
  border: 1px solid $grey;
  text-transform: uppercase;
}
