.menu-preview {
  // изменить поиционирование
  background: url(../../src/img/menu-preview_bckgr.jpg) -8px -255px no-repeat;
}

.menu-preview__item {
  background-color: $white;
}

.menu-preview__item__img {
  background: url(../../src/img/menu_slider_item1.jpg) -329px -1px no-repeat;
  // Сюда же должны быть переданы параметры для ::before этого элемент (треугольник-загутый уголок) в случае если в мобильной версии загнутый уголок тоже будет
}

.menu-preview__item__content {
  background: url(../../src/img/menu_preview_watermark.png) 216px 134px no-repeat;
}

.menu-preview__item__title {
  font-family: "Alegreya Bold";
  color: $h2DarkGrey;

  &--font {
    font-family: "Alegreya Bold";
    color: $h3Brown;
    text-transform: uppercase;
  }
}

.menu-preview__item__text {
  font-family: "Lato Regular";
  color: $h2DarkGrey;
  text-align: center;
}

.raiting {
  display: block;
}

.raiting__item {
  display: inline-block;
}

.menu-preview__item__slider {
  display: block;
  @include clearfix;
}

.slider__button--left {
  display: block;
  width: 34px;
  height: 34px;
  float: left;
  margin-top: 28px;
  background: url(../../src/img/menu_slider_arrow_left.png) center center no-repeat;
}

.slider__button--right {
  @extend .slider__button--left;
  float: right;
  background: url(../../src/img/menu_slider_arrow_right.png) center center no-repeat;
}

.slider__container-hider {
  display: inline-block;
  overflow: hidden;
}

.slider__list {
  width: 1000px;
  position: relative;
  @include clearfix;
  // позиционирование с учетом нажатого первого элемента слайдера и прокрученого влево. Должно быть выставлено в ноль и прокручиваться через js
  left: -122px;
}

.slider__item--pancakes {
  display: block;
  float: left;
  width: 90px;
  height: 90px;
  margin: 0 15px;
  overflow: hidden;
  border-radius: 45px;
  background: url(../../src/img/menu_slider_item1.jpg) 0px 0px no-repeat;
}

.slider__item--sandwitch {
  @extend .slider__item--pancakes;
  background: url(../../src/img/menu_slider_item2.jpg) -59px -30px no-repeat;
}

.slider__item--berries {
  @extend .slider__item--pancakes;
  background: url(../../src/img/menu_slider_item3.jpg) -250px -199px no-repeat;
}

.slider__item--salad {
  @extend .slider__item--pancakes;
  background: url(../../src/img/menu_slider_item4.jpg) -390px -130px no-repeat;
}

.slider__nav {
  display: block;
  @include clearfix;
}

.slider__nav__item--active {
  display: block;
  float: left;
  width: 9px;
  height: 9px;
  margin: 0 5px;
  border: 1px solid $navElemsSepia;
  border-radius: 5px;
}

.slider__nav__item--inactive {
  @extend .slider__nav__item--active;
  background-color: $navElemsSepia;
}
