header {
  border-bottom: 10px solid $white;
}

.head {
  height: 61px;
  padding-top: 9px;
  @include clearfix;
}

.logo {
  float:left;
  margin: 6px 0 0 11.95%;
  font-size: 30px;
  vertical-align: bottom;
}

.head-nav {
  float: right;
  width: 54%;
  font-size: 14px;
  letter-spacing: 4px;
  vertical-align: top;
}

.head-nav__list {
  width: 100%;
  margin-top: 19px;
}

.head-nav__list__item {
  display: inline-block;
}

.head-nav__list__separator {
  display: inline-block;
  width: 7px;
  padding: 0 2.3%;
}

.share {
  float: right;
  width: 8%;
  margin-right: 10.6%;
  text-align: right;
}

.share__item {
  &--twitter {
    display: inline-block;
    margin-left: 0;

    .share__link {
      display: inline-block;
      height: 16px;
      width: 16px;
      background: url(../../src/img/407-twitter.svg) 0 0 no-repeat;
    }
  }
  &--fb {
    display: inline-block;
    margin-left: 18%;

    .share__link {
      display: inline-block;
      height: 16px;
      width: 16px;
      background: url(../../src/img/401-facebook.svg) 0 0 no-repeat;
    }
  }
  &--insta {
    display: inline-block;
    margin-left: 18%;

    .share__link {
      display: inline-block;
      height: 16px;
      width: 16px;
      background: url(../../src/img/403-instagram.svg) 0 0 no-repeat;
    }
  }
}

.content-wrapper {
  background: url(../../src/img/slogan_bckgr.png) center center no-repeat;
}

.slogan {
  width: 100%;
  padding: 207px 0 65px;
}

.slogan__title {
  padding-left: 8px;
  font-size: 92px;
  text-shadow: 0px 1px 0px rgba(61, 48, 41, 0.5);
  letter-spacing: 6.5px;

  &::after {
    width: 197px;
    height: 12px;
    padding: 60px 0;
    background: url(../../src/img/dashed_line.png) 0 60px no-repeat;
  }
}

.slogan__text {
  width: 550px;
  font-size: 24px;
  line-height: 1.5;
  letter-spacing: 2.5px;
}

.menu__button {
  width: 200px;
  margin: 0 auto;
  margin-bottom: 215px;
  padding-left: 10px;
  // padding: 19px 45px;
  font-size: 14px;
  line-height: 43px;
  letter-spacing: 4px;
}
