.menu-complete {
  max-width: 1600px;

  &::after {
    content: " ";
    display: block;
    position: relative;
    float: right;
    width: 350px;
    height: 220px;
    margin-top: -254px;
    background: url(../../src/img/menu_complete_overlay_effect.png) right bottom no-repeat;
  }
}

.menu-complete__container {
  max-width: 1260px;
  margin: 0 auto;
  @include clearfix;
}

.menu-complete__category {
  box-sizing: border-box;
  float: left;
  width: 50%;
  padding: 85px 0 41px 7%;
}

.menu-complete__category__title {
  // этот стиль тоже должен создаваться из миксина-функции с дефолтными значениями для самых распостраненных заголовков
  font-size: 60px;
  letter-spacing: 3px;

  &--font {
    font-size: 18px;
    letter-spacing: 1px;
    line-height: 26px;
    margin-bottom: 59px;
  }
}

.menu-complete__category__item {
  margin-bottom: 37px;
}

.category__item__title {
  font-size: 30px;
  letter-spacing: 1.5px;
}

.category__item__text {
  font-size: 14px;
  letter-spacing: 1.5px;
  line-height: 35px;
}

.category__item__price {
  font-size: 36px;
  letter-spacing: 2px;
  line-height: 61px;
}

.menu-complete__category-cover {
  float: right;
  width: 50%;
  @include clearfix;
}

.menu-complete__category-cover__item {
  float: right;
  width: 440px;
  height: 600px;
  top: 89px;
  box-shadow: 11px 11px 29px -5px rgba(0,0,0,0.5);
}

.category-cover__item-container {
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 6.82% 100%, 0 95%);
  clip-path: polygon(0 0, 100% 0, 100% 100%, 6% 100%, 0 95%);
  width: 100%;
  height: 600px;
  outline: 2px dashed $grey; /* Пунктирная рамка */
  outline-offset: -10px;

  &::before {
	top: 571px;
	left: 0px;
	border-width: 30px 0 0 28px;
  box-shadow: -13px 19px 19px 3px rgba(0,0,0,0.87);
  }
}

.category-cover__item__header {
  padding-top: 49px;
}

.category-cover__item__header__text {
  margin: 0 84px;
  font-size: 14px;
  letter-spacing: 1px;
}

.category-cover__item__header__img {
  width: 100%;
  height: 86px;
}

.category-cover__item__title {
  margin: 51px 13px 25px;
  font-size: 44px;
  letter-spacing: 1px;
  line-height: 60px;
}

.category-cover__item__text {
  margin: 0 51px;
  font-size: 14px;
  letter-spacing: 0.7px;
  line-height: 31px;
}

.category-cover__item__link {
  width: 188px;
  margin: 44px auto 65px;
  padding: 15px 0;
  font-size: 18px;
}
