.menu-preview {
  max-width: 1600px;
  background: url(../../src/img/menu-preview_bckgr.jpg) -8px -255px no-repeat;

  .prep-time {
    position: relative;
    top: 97px;
    right: 95px;
    z-index: 1;
    float: right;
  }

  .prep-time__ready-in {
    box-shadow: 0px 20px 80px 0px rgba(105,80,58,0.54);
  }
}

.menu-preview__container {
  max-width: 1260px;
  height: 760px;
  @include clearfix;
  margin: 0 auto;
}

// .prep-time {
//   position: relative;
//   top: 97px;
//   right: 95px;
//   width: 200px;
//   z-index: 1;
//   float: right;
// }
//
// .prep-time__ready-in {
//   padding: 33px 0 30px;
//   background: url(../../src/img/ready_in_bckgr.png) center center no-repeat;
//   text-align: center;
//   box-shadow: 0px 20px 80px 0px rgba(105,80,58,0.54);
// }
//
// .prep-time__ready-in__title {
//   font-size: 18px;
//   letter-spacing: 1.9px;
//   line-height: 15px;
// }
//
// .prep-time__ready-in__amount {
//   display: block;
//   font-size: 92px;
//   letter-spacing: 10px;
//   padding: 13px 0 0 13px;
// }
//
// .prep-time__ready-in__units {
//   display: block;
//   font-size: 17px;
//   letter-spacing: 2.5px;
//   padding-left: 4px;
// }

.menu-preview__item {
  display: block;
  position: relative;
  height: 512px;
  float: left;
  top: 140px;
  left: 95px;
  @include clearfix;
  box-shadow: -2px 14px 29px 5px rgba(0,0,0,0.33);
  border-bottom-left-radius: 80px;
}

.menu-preview__item__img {
  display: inline-block;
  width: 419px;
  height: 512px;
  // свойство с бэкграундом должно быть завязано на кликнутый элемент в слайдере и передаваться в это свойство
  background: url(../../src/img/menu_slider_item1.jpg) -329px -1px no-repeat;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 11% 100%, 0 91%);
  clip-path: polygon(0 0, 100% 0, 100% 100%, 11% 100%, 0 91%);

  &::before {
	content:"";
	position: absolute;
	top: 466px;
	left: 0px;
	border-style: solid;
	border-width: 50px 0 0 48px;
	border-top-color: $white;
  border-right-color: $white;
  border-bottom-color: $white;
  border-left-color: transparent;
  }
}

.menu-preview__item__content {
  width: 548px;
  height: 512px;
  display: inline-block;
  position: relative;
  left: -4px;
  top: -230px;
}

// Стили заголовков и контента здесь перекликаются, создать функцию-миксин с дефолтными значениями для этих элементов
.menu-preview__item__title {
  position: relative;
  top: 148px;
  left: 64px;
  font-size: 48px;
  letter-spacing: 1px;
  text-align: left;

  &--font {
    position: relative;
    top: 148px;
    left: 64px;
    font-size: 14px;
    letter-spacing: 1.3px;
    text-align: left;
    padding: 10px 0 62px;
  }
}

.menu-preview__item__text {
  position: relative;
  top: 146px;
  left: 64px;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 1.5px;
  text-align: left;
  width: 405px;
}

.raiting {
  position: relative;
  top: 190px;
  left: 63px;
}

.menu-preview__item__slider {
  width: 429px;
  position: relative;
  top: 231px;
  left: 62px;
}

// .slider__button--left {
//   display: block;
//   width: 34px;
//   height: 34px;
//   float: left;
//   margin-top: 28px;
//   background: url(../../src/img/menu_slider_arrow_left.png) center center no-repeat;
// }
//
// .slider__button--right {
//   @extend .slider__button--left;
//   float: right;
//   background: url(../../src/img/menu_slider_arrow_right.png) center center no-repeat;
// }

.slider__container-hider {
  width: 343px;
}

.slider__nav {
  margin: 15px auto 0;
  width: 84px;
}
