.special {
  max-width: 1260px;
  margin: 0 auto;
  @include clearfix;

  .prep-time {
    position: relative;
    float: right;
    top: -493px;
    left: -10px;
  }
}

.special__header {
  display: block;
  margin: 0 auto;
  padding-top: 96px;
  width: 480px;
  background: url(../../src/img/special_header_bckgr.png) center center no-repeat;
}

.special__title {
  font-family: 'Alegreya Bold';
  font-size: 48px;
  color: $h2DarkGrey;
  text-align: center;
  letter-spacing: 1.2px;

  &--font {
    padding-top: 10px;
    font-family: 'Alegreya Bold';
    color: $h3Brown;
    font-size: 14px;
    text-align: center;
    letter-spacing: 1.4px;
    text-transform: uppercase;
  }
}

.special__ingredients {
  display: block;
  float: left;
  margin-top: -6px;
  width: 23.4%;
}

.special__ingredients__list {
  width: 295px;
}

.special__ingredients__item1 {
  display: block;
  margin-bottom: 55px;

  .ingredients__img {
    background: url(../../src/img/ingredient_img1.jpg) -108px -23px no-repeat;
  }
}

.special__ingredients__item2 {
  @extend .special__ingredients__item1;

  .ingredients__img {
    background: url(../../src/img/ingredient_img2.jpg) -23px -8px no-repeat;
  }
}

.special__ingredients__item3 {
  @extend .special__ingredients__item1;

  .ingredients__img {
    background: url(../../src/img/ingredient_img3.jpg) -31px -3px no-repeat;
  }
}

.ingredients__img {
  display: block;
  width: 100px;
  height: 100px;
  margin-left: 95px;
  border-radius: 50px;
  // временное значение
  box-shadow: 2px 10px 29px -5px rgba(0,0,0,0.5);
}

.ingredients__title {
  margin-left: -4px;
  padding-top: 23px;
  font-family: 'Alegreya Bold';
  color: $h3Brown;
  font-size: 29px;
  text-align: center;
  letter-spacing: 1.2px;
}

.ingredients__text {
  padding-top: 19px;
  font-family: 'Lato Regular';
  color: $h2DarkGrey;
  text-align: center;
  font-size: 14px;
  letter-spacing: 1.4px;
  line-height: 20px;
  text-align: center;
}

.special__recipe {
  display: block;
  float: right;
  width: 70%;
}

.special__recipe__link {
  display: block;
  width: 169px;
  height: 58px;
  position: relative;
  border: 1px dashed $iconsHazelLight;
  color: $iconsHazelLight;
  text-align: center;
  background-color: $white;
  font-family: 'Alegreya Bold';
  font-size: 18px;
  letter-spacing: 1px;
}

.special__recipe__img {
  position: relative;
  float: left;
  width: 820px;
  height: 537px;
  top: 87px;
  left: 42px;
  border: 10px solid $white;
  background: url(../../src/img/special_img.jpg) center center no-repeat;
}
