<section class="about">
  <div class="about__container clearfix">
    <article class="about__article">
      <h2 class="about__title">Art of cakes</h2>
      <h3 class="about__title--style">We create delicious memories</h3>
      <p class="about__text">Quisque rutrum. Aenean imperdiet. Etiam ultricies nisi vel augue. Curabitur ullamcorper ultricies nisi. Nam eget dui. Etiam rhoncus. Maecenas tempus, tellus eget condimentum rhoncus, sem quam semper libero, sit amet adipiscing sem neque sed.</p>
      <div class="about__chef">
        <h4 class="about__chef__title">chef cook</h4>
        <span class="about__chef__name">Benito</span>
        <img class="about__chef__img" src="../src/img/about_avatar.png" alt="chef avatar">
        <span class="about__chef__name">Gaspare</span>
        <div class="about__chef__quote">
          <span class="about__chef__quote__mark--opening">&ldquo;</span>
          <p class="about__chef__quote__text">Unique creations for unique occasions.</p>
          <span class="about__chef__quote__mark--closening">&rdquo;</span>
        </div>
      </div>
    </article>
    <div class="about__media">
      <div class="about__media__sticker"><span class="about__media__sticker__text">tastes so good!</span></div>
      <!-- стикер пустить поверх блоков с картинками -->
      <div class="about__media__item--top-left">
        <div class="about__media__item__overlay"></div>
      </div>
      <!-- бордеры реализовать играясь с видами бордеров и прозрачностью -->
      <div class="about__media__item--top-right">
        <div class="about__media__item__overlay"></div>
      </div>
      <div class="about__media__item--bottom-left">
        <div class="about__media__item__overlay"></div>
      </div>
      <div class="about__media__item--bottom-right">
        <div class="about__media__item__overlay"></div>
      </div>
    </div>
  </div>
</section>
