<footer>
  <ul class="footer__nav">
    <!-- с помощью :before или :after реализовать расзделительные знаки-->
    <li class="footer__nav__item"><a href="" class="footer__nav__link">our menu</a></li>
    <li class="footer__nav__item"><a href="" class="footer__nav__link">gallery</a></li>
    <li class="footer__nav__item"><a href="" class="footer__nav__link">culture</a></li>
    <li class="footer__nav__logo">gustoso</li>
    <li class="footer__nav__item"><a href="" class="footer__nav__link">events</a></li>
    <li class="footer__nav__item"><a href="" class="footer__nav__link">catering</a></li>
    <li class="footer__nav__item"><a href="" class="footer__nav__link">visit us</a></li>
  </ul>
</footer>
