<header>
  <div class="head">
    <div class="logo">Gustoso</div>
    <div class="share">
      <ul class="share__list">
        <li class="share__item--twitter"><a href="" class="share__link"></a></li>
        <li class="share__item--fb"><a href="" class="share__link"></a></li>
        <li class="share__item--insta"><a href="" class="share__link"></a></li>
      </ul>
    </div>
    <!-- попробовать реализовать горизонтальный и вертикальный вариант менюшки меняя стили css без добавления отдельного блока для мобильной версии  -->
    <nav class="head-nav">
      <ul class="head-nav__list">
        <li class="head-nav__list__item">
          <a href="" class="head-nav__list__link">welcome</a>
        </li>
        <li class="head-nav__list__separator">~</li>
        <li class="head-nav__list__item">
          <a href="" class="head-nav__list__link">menu</a>
        </li>
        <li class="head-nav__list__separator">~</li>
        <li class="head-nav__list__item">
          <a href="" class="head-nav__list__link">reservations</a>
        </li>
        <li class="head-nav__list__separator">~</li>
        <li class="head-nav__list__item">
          <a href="" class="head-nav__list__link">news</a>
        </li>
        <li class="head-nav__list__separator">~</li>
        <li class="head-nav__list__item">
          <a href="" class="head-nav__list__link">contact</a>
        </li>
      </ul>
    </nav>

  </div>
  <div class="content-wrapper">
    <div class="slogan">
      <h1 class="slogan__title">Pastry with love</h1>
      <p class="slogan__text">We're bringing you fresh ingredients every day in ways you can't resist.</p>
      <!-- текст параграфа отбрасывает минимальную тенюху -->
    </div>
    <button class="menu__button">our menu</button>
    <!-- попробовать переделать декор с булкой с помощью только одного :after, чтобы не использовать html разметку для стилизации -->
    <div class="header__border-elem"></div>
  </div>
</header>
