<div class="special">
  <div class="special__header">
    <h1 class="special__title">the Jibarito sandwich</h1>
    <h2 class="special__title--font">The best sandwich you've ever tasted!</h2>
  </div>
  <div class="special__ingredients">
    <ul class="special__ingredients__list">
      <!-- картинка каждого из ингредиентов должна грузиться по ссылке из объекта соответсвующего ингредиента по средствам js -->
      <li class="special__ingredients__item1">
        <div class="ingredients__img"></div>
        <!-- каждой картинке подрисовать тень! -->
        <h4 class="ingredients__title">Class aptent</h4>
        <p class="ingredients__text">Quot alienum persecuti ut eam, nam ad  atqui primis nusquam.</p>
      </li>
      <li class="special__ingredients__item2">
        <div class="ingredients__img"></div>
        <h4 class="ingredients__title">Nulla eget</h4>
        <p class="ingredients__text">Nullam dictum felis eu pede mollis  pretium Integer tincidunt.</p>
      </li>
      <li class="special__ingredients__item3">
        <div class="ingredients__img"></div>
        <h4 class="ingredients__title">Sed nibh purus</h4>
        <p class="ingredients__text"> Aenean eleifend tellus leo ligula,  porttitor eu, consequat vitae.</p>
      </li>
    </ul>
  </div>
  <div class="special__recipe">
    <!-- тень должен откидывать каждый из- троих основных элементов этого блока -->
    <div class="special__recipe__img"></div>
    <a href="" class="special__recipe__link">full recipe</a>
    <ul class="prep-time">
      <li class="prep-time__prep">
        <h6 class="prep-time__prep__title">prep</h6>
        <span class="prep-time__prep__amount">15</span>
        <span class="prep-time__prep__units">mins</span>
      </li>
      <li class="prep-time__cook">
        <h6 class="prep-time__cook__title">cook</h6>
        <span class="prep-time__cook__amount">35</span>
        <span class="prep-time__cook__units">mins</span>
      </li>
      <li class="prep-time__ready-in">
        <h6 class="prep-time__ready-in__title">ready in</h6>
        <span class="prep-time__ready-in__amount">50</span>
        <span class="prep-time__ready-in__units">mins</span>
      </li>
    </ul>
  </div>
</div>
