<section class="sliders--mob clearfix">
  <h2 class="sliders--mob__title">How Urlaubsglück works?</h2>
  <div class="slider--mob step1--mob">
    <div class="slider--mob__container">
      <a href="" class="slider--mob__link">step 1</a>
      <h3 class="slider--mob__title">Sed leo enim, condimentum</h3>
      <h6 class="slider--mob__text">Quisque libero libero, dictum non turpis in, luctus semper lorem. Donec rhoncus a leo sit amet facilisis.</h6>
    </div>
  </div>
  <div class="slider--mob step2--mob">
    <div class="slider--mob__container">
      <a href="" class="slider--mob__link">step 2</a>
      <h3 class="slider--mob__title">Morbi velit risus</h3>
      <h6 class="slider--mob__text">Nulla venenatis tempor dui in molestie. Nulla quis dictum purus, sit amet porttitor est.</h6>
    </div>
  </div>
  <div class="slider--mob step3--mob">
    <div class="slider--mob__container">
      <a href="" class="slider--mob__link">step 3</a>
      <h3 class="slider--mob__title">Sed leo enim, condimentum</h3>
      <h6 class="slider--mob__text">Quisque libero libero, dictum non turpis in, luctus semper lorem. Donec rhoncus a leo sit amet facilisis.</h6>
    </div>
  </div>
</section>

<section class="sliders clearfix">
  <h2 class="sliders__title">How Urlaubsglück works?</h2>

  <div class="slider clearfix">
    <ul class="slider__list clearfix bxslider">
      <li class="slider__item step1">
        <div class="slider__container">
          <a href="" class="slider__link">step 1</a>
          <h3 class="slider__title">Sed leo enim, condimentum</h3>
          <h6 class="slider__text">Quisque libero libero, dictum non turpis in, luctus semper lorem. Donec rhoncus a leo sit amet facilisis.</h6>
        </div>
      </li>
      <li class="slider__item step2">
        <div class="slider__container">
          <a href="" class="slider__link">step 2</a>
          <h3 class="slider__title">Morbi velit risus</h3>
          <h6 class="slider__text">Nulla venenatis tempor dui in molestie. Nulla quis dictum purus, sit amet porttitor est.</h6>
        </div>
      </li>
      <li class="slider__item step3">
        <div class="slider__container">
          <a href="" class="slider__link">step 3</a>
          <h3 class="slider__title">Sed leo enim, condimentum</h3>
          <h6 class="slider__text">Quisque libero libero, dictum non turpis in, luctus semper lorem. Donec rhoncus a leo sit amet facilisis.</h6>
        </div>
      </li>
    </ul>
  </div>

  <div class="slider">
      <ul class="slider__list clearfix bxslider">
        <li class="slider__item step1">
          <div class="slider__container">
            <a href="" class="slider__link">step 1</a>
            <h3 class="slider__title">Sed leo enim, condimentum</h3>
            <h6 class="slider__text">Quisque libero libero, dictum non turpis in, luctus semper lorem. Donec rhoncus a leo sit amet facilisis.</h6>
          </div>
        </li>
        <li class="slider__item step2">
          <div class="slider__container">
            <a href="" class="slider__link">step 2</a>
            <h3 class="slider__title">Morbi velit risus</h3>
            <h6 class="slider__text">Nulla venenatis tempor dui in molestie. Nulla quis dictum purus, sit amet porttitor est.</h6>
          </div>
        </li>
        <li class="slider__item step3">
          <div class="slider__container">
            <a href="" class="slider__link">step 3</a>
            <h3 class="slider__title">Sed leo enim, condimentum</h3>
            <h6 class="slider__text">Quisque libero libero, dictum non turpis in, luctus semper lorem. Donec rhoncus a leo sit amet facilisis.</h6>
          </div>
        </li>
      </ul>
  </div>

  <div class="slider slider--margin">
      <ul class="slider__list clearfix bxslider">
        <li class="slider__item step1">
          <div class="slider__container">
            <a href="" class="slider__link">step 1</a>
            <h3 class="slider__title">Sed leo enim, condimentum</h3>
            <h6 class="slider__text">Quisque libero libero, dictum non turpis in, luctus semper lorem. Donec rhoncus a leo sit amet facilisis.</h6>
          </div>
        </li>
        <li class="slider__item step2">
          <div class="slider__container">
            <a href="" class="slider__link">step 2</a>
            <h3 class="slider__title">Morbi velit risus</h3>
            <h6 class="slider__text">Nulla venenatis tempor dui in molestie. Nulla quis dictum purus, sit amet porttitor est.</h6>
          </div>
        </li>
        <li class="slider__item step3">
          <div class="slider__container">
            <a href="" class="slider__link">step 3</a>
            <h3 class="slider__title">Sed leo enim, condimentum</h3>
            <h6 class="slider__text">Quisque libero libero, dictum non turpis in, luctus semper lorem. Donec rhoncus a leo sit amet facilisis.</h6>
          </div>
        </li>
      </ul>
  </div>
  </div>
</section>
