.ideas {
  display: block;
  max-width: 940px;
  margin: 0 auto;
  padding: 36px 10px;

  &__title {
    @include headBlack;
    line-height: 25px;
  }

  &__container {
    margin: 0 auto;
    padding-top: 17px;
  }

  &__form {
    width: 287px;
    margin: 0 auto;
    padding-top: 33px;

    &__title {
      @include headBlack;
      line-height: 25px;
    }

    &__text {
      padding-bottom: 3px;
      @include roboto;
      line-height: 47px;
    }

    &__input {
      height: 38px;
      margin-bottom: 8px;
      padding: 0 112px 0 15px;
      border: 1px solid $lightGrey;
      border-radius: 3px;
      @include robotoS;
      text-align: left;
      color: $lightGrey;
    }

    &__search {
      height: 40px;
      width: 100%;
      @include redLink;
      border: none;
    }
  }
}

.grid {
    margin-top: 2px;
    &:after {
    content: '';
    display: block;
    clear: both;
    }
    .grid-item,
    .grid-sizer {
      width: 100%;
    }
    .grid-item{
    position: relative;
    float: left;
    height: 121px;
    border-radius: 5px;
    background: #fff;
    background-position: center;
    background-size: cover;
    overflow: hidden;

    .grid-item__title{
        display: block;
        margin: 0 auto;
        color: #fff;
        font-family: 'Montserrat', Arial, sans-serif;
        text-transform: capitalize;
        font-size: 22px;
        font-weight: bold;
        text-align: center;
        line-height: 308px;
        text-decoration: none;
        &:hover{
          color: #ccc;
          background: rgba(200, 200, 200, 0.4);
        }
      }
    }
    // .gutter-sizer {
    //   width: 2%;
    // }
    // .grid-item--width2 {
    //   width: 66%
    // }
  }

.image1, .image2, .image3, .image4, .image5, .image6, .image7 {
  margin-right: 10px;
  margin-bottom: 10px;
}
