<footer class="footer">
  <div class="footer-wrap">
    <div class="logo--footer">
      <p class="logo--footer__text">urlaubsglück</p>
    </div>
    <nav class="footer-nav">
      <h3 class="footer-nav__title">Company</h3>
      <ul class="footer-nav__container">
        <li class="footer-nav__item">
          <a href="#" class="footer-nav__link">About</a></li>
        <li class="footer-nav__item">
          <a href="#" class="footer-nav__link">Contacts</a></li>
        <li class="footer-nav__item">
          <a href="#" class="footer-nav__link">Press</a></li>
        <li class="footer-nav__item">
          <a href="#" class="footer-nav__link">Blog</a></li>
      </ul>
    </nav>
    <div class="footer__item">Partners</div>
    <div class="copyright">
      <p class="copyright__text">designed by</p>
      <img src="img/footer-logo.png" alt="logo" class="copyright__img">
    </div>
  </div>
</footer>
